.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  padding: 12 px 4%;
  font-size: 0.9rem;
  color: #ffffff;
  a {
    text-decoration: none;
    color: #fff;
  }
  &--black {
    background-color: #111;
  }
}

.nav_logo {
  width: 250px;
  height: auto;
  background-color: #111;
}

.avatar {
  width: 100px;
  height: auto;
}
